[Desktop Entry]
Type=Application
Name=Cullr
Comment=Fast media viewer and culling tool
Exec=cullr %F
Icon=cullr
Terminal=false
Categories=Graphics;AudioVideo;Viewer;
MimeType=image/avif;image/bmp;image/gif;image/jpeg;image/png;image/qoi;image/tiff;image/webp;video/3gpp;video/3gpp2;video/mp2t;video/mp4;video/mpeg;video/ogg;video/quicktime;video/webm;video/x-flv;video/x-matroska;video/x-msvideo;video/x-ms-wmv;
